---
import Layout from "@/layouts/Layout.astro";
import UtilityBar from "@/components/UtilityBar.astro";
import Header from "@/components/Header.astro";
import CategoryStrip from "@/components/CategoryStrip.astro";
import Hero from "@/components/Hero.astro";
import SplitFlag from "@/components/SplitFlag.astro";
import LiveInspection from "@/components/LiveInspection.astro";
import TrustpilotReviews from "@/components/TrustpilotReviews.astro";
import FeatureBlocks from "@/components/FeatureBlocks.astro";
import SellShowcase from "@/components/SellShowcase.astro";
import GetInTouch from "@/components/GetInTouch.astro";
import LatestNews from "@/components/LatestNews.astro";
import PopularCategories from "@/components/PopularCategories.astro";
import Footer from "@/components/Footer.astro";
import ThemePicker from "@/components/ThemePicker.astro";
---

<Layout>
  <UtilityBar />
  <Header />
  <CategoryStrip />
  <main>
    <Hero />
    <SplitFlag />
    <LiveInspection />
    <TrustpilotReviews />
    <FeatureBlocks />
    <SellShowcase />
    <GetInTouch />
    <LatestNews />
    <PopularCategories />
  </main>
  <Footer />
  <ThemePicker />
</Layout>
